javascript:
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59337685-1', 'auto');

  // user_id取得
  //var user_id = '#{SecureRandom.urlsafe_base64(24).tr('lIO0', 'sxyz')}';
  //console.log(user_id);
  //ga('set', '&uid', {{user_id}});

  // カスタムディメンション:会員
  var user_status = '#{@current_user.present? ? '会員' : '非会員'}';
  console.log(user_status);
  ga('set', 'dimension1', user_status);

  // カスタムディメンション:国
  var country = '#{@current_user.country unless @current_user.nil?}';
  console.log(country);
  ga('set', 'dimension2', country);

  ga('send', 'pageview');
